<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!--<% @users.each do |user| %>-->
     <%= render @users %>
    <!--<li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>-->
  <!--<% end %>-->
</ul>

<%= will_paginate %>
